<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>

#	{% load static %}
<script src="{% static 'front_template/main.js' %}"></script>

<title>QA_CommunityForum</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Slide Login Form template Responsive, Login form web template, Flat Pricing tables, Flat Drop downs Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	 <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- Custom Theme files -->
	<link rel="stylesheet" type="text/css" media="all" href= "{% static 'css/style.css' %}"  >
	<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/font-awesome.min.css' %}"  >
	<!-- //Custom Theme files -->

	<!-- web font -->
	<link href="{% static '//fonts.googleapis.com/css?family=Hind:300,400,500,600,700' %}" rel="stylesheet" >
	<!-- //web font -->

</head>
<body>

<!-- main -->
<div class="{% static 'w3layouts-main' %} ">
	<div class="{% static 'bg-layer' %}">
		<h1>Slide Login form</h1>
		<div class="{% static 'header-main' %}">
			<div class="{% static 'main-icon' %}">
				<span class="{% static 'fa fa-eercast' %}"></span>
			</div>
			<div class="{% static 'header-left-bottom' %}">
				<form action="#" method="post">
					<div class="{% static 'icon1' %}">
						<span class="{% static 'fa fa-user' %}"></span>
						<input type="email" placeholder="Email Address" required=""/>
					</div>
					<div class="{% static 'icon1' %}">
						<span class="{% static 'fa fa-lock' %}"></span>
						<input type="password" placeholder="Password" required=""/>
					</div>
					<div class="{% static 'login-check' %}">
						 <label class="{% static 'checkbox' %}"><input type="checkbox" name="checkbox" checked=""><i> </i> Keep me logged in</label>
					</div>
					<div class="{% static 'bottom' %}">
						<button class="{% static 'btn' %}">Log In</button>
					</div>
					<div class="{% static 'links' %}">
						<p><a href="{% static '#' %}">Forgot Password?</a></p>
						<p class="{% static 'right' %}"><a href="{% static '#' %}"> New User? Register</a></p>
						<div class="{% static 'clear' %}"></div>
					</div>
				</form>
			</div>
			<div class="{% static 'social' %}">
				<ul>
					<li>or login using : </li>
					<li><a  href="{% static '#' %}" class="{% static 'facebook' %}" ><span class="{% static 'fa fa-facebook' %}"></span></a></li>
					<li><a href="{% static '#' %}" class="{% static 'twitter' %}" ><span class="{% static 'fa fa-twitter' %}"></span></a></li>
					<li><a href="{% static '#' %}" class="{% static 'google' %}" ><span class="{% static 'fa fa-google-plus' %}"></span></a></li>
				</ul>
			</div>
		</div>

		<!-- copyright -->
		<!-- <div class="{% static '"copyright">
			<p>© 2019 Slide Login Form . All rights reserved | Design by <a href="{% "http://w3layouts.com/" target="_blank">W3layouts</a></p>
		</div>
		 //copyright -->
	</div>
</div>
<div id="react-app"></div>
<!-- //main -->

</body>



</html>