{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="w3layouts-main">
	<div class="bg-layer">
		<h1>QA_CommunityForum</h1>
		<div class="header-main">
            <div class="main-icon">
				<span class="fa fa-eercast"></span>
			</div>
			<div class="header-left-bottom">
				<form action="#" method="post">
                      {% csrf_token %}
    				  {{ form.as_p }}

                        <div class="icon1">
                            <span class="fa fa-user"></span>
                            <input class="text email" type="email" name="email" placeholder="Email" required="">
					    </div>


					    <div class="bottom">
						    <button class="btn" value="Reset Password" type="submit">Submit</button>
                          <!--<input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">-->
					    </div>

                         <!--   <div class="wthree-text">
                                <label class="anim">
                                    <input type="checkbox" class="checkbox" required="">
                                    <span>I Agree To The Terms & Conditions</span>
                                </label>
                                <div class="clear"> </div>
                            </div>
                            <input type="submit" value="REGISTER">
                            -->


                </form>
        </div>
    </div>
</div>

{% endblock %}